body {
	text-align: center;
	margin-left: auto;
	background: linear-gradient(to right, rgb(93,206,254) , rgb(255, 0, 234));
}

h1 {
	font-size: 40px;
}

h2, h3, h4 {
	font-size: 25px;
}

ul {
	list-style: none;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 15px 0px;
	font-size: 20px;
}

input, button, select {
	text-align: center;
}

.main-nav{
	display:flex;
	margin: 0;
}

.blue {
	display.flex;
	position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 50%;
    background-color: rgb(46, 220, 255,.4);
	border-radius: 5px;
	-webkit-box-shadow: 10px 12px 25px -4px rgba(3,252,219,0.83);
	-moz-box-shadow: 10px 12px 25px -4px rgba(3,252,219,0.83);
	box-shadow: 10px 12px 25px -4px rgba(3,252,219,0.83);
	opacity: .9;
	margin-top: 50px
}
	

.li-wrapper{
	display: flex;
	flex-flow: column;
	justify-content: center;
}

footer {
	position: absolute;
	bottom: 5px;
	right: 5px;
}


